<div class="aggregate-container">
  <mat-tab-group
    [selectedIndex]="selectedTab"
    (selectedIndexChange)="tabChanged($event)"
    backgroundColor="primary"
  >
    <mat-tab *ngFor="let tab of tabs; let index = index">
      <ng-template mat-tab-label>
        <mat-icon>{{tab.icon}}</mat-icon>　{{tab.label}}
      </ng-template>

      <ng-container *ngIf="storeObj.isPublic; else privateTemplate">
        <app-show-category></app-show-category>
      </ng-container>
      <ng-template #privateTemplate>
        <app-show-category></app-show-category>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
